@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin boxShadow() {
  border-radius: 17px;
  background: #ffffff;
  box-shadow: 8px 8px 12px #e3e3e3, -8px -8px 12px #ffffff;
}
