@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", sans-serif;
  background-color: $white;
}

.logo {
  font-weight: bolder;
  color: $white;
}

.login-btn {
  color: white;
  :hover {
    color: red;
  }
}

.new-user {
  color: white;
  cursor: pointer;
}

// .reg-form {
//   // display: none;
//   position: absolute;
//   left: -1000px;
// }

.reg-success {
  display: none;
  color: white;
  padding-top: 10px;
  font-size: 1.5rem;
}

.regi-error {
  color: rgb(233, 111, 111);
  display: none;
}

// PROFILE PAGE

.navbar {
  .logo-nav {
    color: $white;
    font-weight: 700;
  }

  .nav-link {
    color: $white;
  }
}

.profile-box {
  @include boxShadow();

  .profile-pic {
    height: 300px;
  }

  .username {
    font-size: 2rem;
  }
}

.card-profile {
  width: 300px;
  @include boxShadow();
}

.profile-card {
  @include flexCenter(column);
}

.profile-post-link {
  padding: 10px;
  background-color: #337c69;
  width: 100px;
  margin: 0 0 20px 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.profile-post-image {
  max-height: 700px;
  object-fit: cover;
  max-width: 700px;
}

// FEED PAGE

.card-feed {
  @include boxShadow();
}

.create-form {
  color: $white;
  @include boxShadow();
  height: 550px;
  background-color: red;
}


.feed-like-btn {
  height: 24px;
  margin-top: 10px;
}

.feed-date {
  margin: 0;
}

.feed-media {
  max-height: 500px;
  object-fit: cover;
}

.view-btn {
  padding: 10px;
  background-color: #337c69;
  color: white;
  text-decoration: none;
  border-radius: 20px;

  :hover {
    background-color: red;
  }
}

.author-banner {
  border-radius: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}

.comment-element {
  padding: 1rem;
  margin-bottom: 5px;
  border: 1px solid rgb(34, 114, 74);
}

// PROFILE PAGE

.user-avatar {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}