@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", sans-serif;
  background-color: $white;
}

.logo {
  font-weight: bolder;
  color: $white;
}

.login-btn {
  color: white;
  :hover {
    color: red;
  }
}

.new-user {
  color: white;
  cursor: pointer;
}

// .reg-form {
//   display: none !important;
// }


.regi-error {
  color: rgb(233, 111, 111);
  display: none;
}

// PROFILE PAGE

.navbar {
  .logo-nav {
    color: $white;
    font-weight: 700;
  }

  .nav-link {
    color: $white;
  }
}

.profile-box {
  @include boxShadow();

  .profile-pic {
    height: 300px;
  }

  .username {
    font-size: 2rem;
  }
}

.card-profile {
  width: 300px;
  @include boxShadow();
}

// FEED PAGE

.card-feed {
  width: 240px;
  @include boxShadow();
}

.create-form {
  color: $white;
  @include boxShadow();
  height: 550px;
}
